---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cortex-dev

namePrefix: dev-

commonLabels:
  environment: development
  tier: development

resources:
- ../../

replicas:
- name: cortex
  count: 1

images:
- name: ghcr.io/ry-ops/cortex
  newTag: dev

configMapGenerator:
- name: cortex-config
  behavior: merge
  literals:
  - NODE_ENV=development
  - DEBUG=true
  - MAX_WORKERS=100

patchesStrategicMerge:
- deployment-patch.yaml
