apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: documentation-master-kb
  namespace: cortex
  labels:
    app: documentation-master
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: documentation-master-cache
  namespace: cortex
  labels:
    app: documentation-master
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-path
