---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cortex-prod

namePrefix: prod-

commonLabels:
  environment: production
  tier: critical

resources:
- ../../

replicas:
- name: cortex
  count: 5

images:
- name: ghcr.io/ry-ops/cortex
  newTag: "2.0.0"

configMapGenerator:
- name: cortex-config
  behavior: merge
  literals:
  - NODE_ENV=production
  - DEBUG=false
  - MAX_WORKERS=10000

patchesStrategicMerge:
- deployment-patch.yaml
- ingress-patch.yaml
