apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: youtube-data-pvc
  namespace: cortex
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
