---
apiVersion: v1
kind: Service
metadata:
  name: incident-swarming
  namespace: cortex-itil
  labels:
    app: incident-swarming
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: incident-swarming

---
apiVersion: v1
kind: Service
metadata:
  name: event-correlation
  namespace: cortex-itil
  labels:
    app: event-correlation
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: event-correlation

---
apiVersion: v1
kind: Service
metadata:
  name: intelligent-alerting
  namespace: cortex-itil
  labels:
    app: intelligent-alerting
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: intelligent-alerting

---
apiVersion: v1
kind: Service
metadata:
  name: problem-identification
  namespace: cortex-itil
  labels:
    app: problem-identification
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: problem-identification

---
apiVersion: v1
kind: Service
metadata:
  name: kedb
  namespace: cortex-itil
  labels:
    app: kedb
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: kedb
