apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: sms-relay
  app.kubernetes.io/component: infrastructure
  app.kubernetes.io/managed-by: kustomize
